
body {
  font-family: 'Ubuntu Mono';
  background-color: #1F1F1F;
  font-size: 19px;
}
.button:hover {
  transform: scale(1.1);
  opacity: 1;
}
.button {
  background-color: orange;
 border: none;
 color: black;
 padding: 5px 5px;
 border-radius: 20px;
 border-style: inherit;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 20px;
 margin: 5px 2px;
 cursor: pointer;
 opacity: 0.6;
 transition: 0.4s;
}
.button2 {
  background-color: #02ADDB;
 border: none;
 color: white;
 padding: 5px 5px;
 border-radius: 20px;
 border-style: inherit;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 20px;
 margin: 5px 2px;
 cursor: pointer;
 opacity: 1;
}

.textColor{
  color: #D4BE33;
}

.idColor {
  color: #0CB5B3;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
